// my framework

$maincolor:#fd5c55;
$secondColor:#c69c6d;
.container{
    max-width: 1420px;
}
body{
    background-color: #f2f0f4;
}
@font-face {
  font-family: 'Beauty';
  src: url(./webfonts/BeautyDemo.ttf);
}


// Header Page

.header{
    background-image: url("../images/coder.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 32px;
    height: 950px;
    .navbar{
        display:block !important;
        .navbar-brand{
            font-size: 30px;
            font-family: 'Beauty';
            color: $maincolor;
        }
        .nav-link{
            color:#fff !important;
            padding: 10px 18px;
            width: max-content;
            font-size: 18px;
        }
        .last-link{
            color: $maincolor !important;
            background-color: transparent;
            border: 2px solid $maincolor;
            border-radius: 5px;
            padding: 10px 20px;
            font-weight: 600;
            margin-left: 20px;
            
        }
    }
    // color switch
    .switch-button{
        position:fixed;
        top:30%;
        right:0;
        z-index:999999;
        color:#fff;
        background-color:#363a50;
        padding:20px 15px;
        cursor: pointer;
    }
    .switch-style{
        background-color:#363a50;
        position:fixed;
        top:40%;
        right:0;
        z-index:999999;
        padding:20px;
        display: none;
        transition: all 1s ease-in-out;

        i{
            position: absolute;
            top: 17px;
            right: 23px;
            color: #fff;
            cursor: pointer;

        }
        span{
            display: inline-block;
            color: #fbf4e0;
            font-size: 14px;
            letter-spacing: .5px;
            line-height: 1;
            font-weight: 600;
            padding: 6px 0;
            border-bottom: 1px solid rgba(255, 255, 255, .05);
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 20px;
        }
        ul{
            list-style:none;
            padding: 0;
            margin:0;
            li{
                width: 20px;
                height: 20px;
                display: inline-block;
                height: 28px;
                width: 38px;
                border-radius: 14px 0;
                margin: 4px 5px;
                cursor: pointer;
            }
            .yellow{
                background-color:#fdd05a;
            }
            .gold{
                background-color:#c79864;
            }
            .orange{
                background-color:#f1a433;
            }
            .green{
                background-color:#6b9839;
            }
            .blue{
                background-color:#3b87ca;
            }
            .red{
                background-color:#d64e48;
            }
            .rose{
                background-color:#e350b8;
            }
            .purble{
                background-color:#9644e2;
            }
            
        }
    }
    

    .info{
        display: block;
        text-align: center;
        margin-top: 190px;
        img{
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
        h1{
            color: $maincolor;
            font-weight: bolder;
            margin: 30px 0 20px;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 5px;
            font-size: 80px;
        }
        p{
            color: #fff;
        }
    }
    // hover.css
    .hvr-underline-from-center:before{
        background: $maincolor;
        height: 2px;
    }

}


// About Page

.about{
    background-color: #1f2233;
    color: #fff;
    padding: 125px 0px;
    img{
        width: 55%;
        height: 100%;
        box-shadow: 1px 1px 22px #808080;
        border-radius: 5px;
    }
    .details{
        span{
            color: $maincolor;
            font-weight: bold;
        }
        h3{
            margin:20px 0 40px;
            span{
                color: #fff;  
            }
        }
        hr{
            width: 53px;
            color: $maincolor;
            border: 1px solid $maincolor;
            margin: -29px 0 40px;
        }
    }
    .moreDetails{
        border: 1px solid $maincolor;
        border-radius: 4px;
        padding: 20px;
        line-height: 2.3;
        font-size: 17px;
        .title{
            display: block;
        }
    }
    a{
        color:#fff;
        background-color: $maincolor;
        border: 1px solid $maincolor;
        margin-top: 30PX;
        outline: $maincolor;
        font-size: 18px;
        border-radius: 2px;
        &:hover{
            color: #fff;
        }
    }
}


// Services Page

.services{
    color: #fff;
    background-color: #24283d;
    padding: 40px 0 80px;
    span{
        color: $maincolor;
        font-weight: bold;
    }
    h3{
        margin: 20px 0 40px;
    }
    hr{
        width: 53px;
        color: $maincolor;
        border: 1px solid $maincolor;
        margin: -29px 0 40px;
    }
    .servicesContent{
        padding: 35px;
        border: 1px solid $maincolor;
        border-radius: 4px;
        margin-top: 27px;
        i{
            color: $maincolor;
            margin-bottom: 20px;
        }
    }
}

// Skills Page

.skills{
    color: #fff;
    background-color: #1f2233;
    padding: 40px 0 80px;
    span{
        color: $maincolor;
        font-weight: bold;
    }
    h3{
        margin: 20px 0 40px;
    }
    hr{
        width: 53px;
        color: $maincolor;
        border: 1px solid $maincolor;
        margin: -29px 0 40px;
    }
    .skillsContent{
        background-color: rgba(255, 255, 255, 0.1);
        padding: 40px 0;
        margin-top: 30px;
        img{
            width: 130px;
            height: 130px;
        }
        h5{
            margin-top: 40px;
            color: $maincolor;
        }
    }
}

// Projects Page

.projects{
    color:#fff;
    background-color: hsl(230, 26%, 19%);
    padding: 40px 0 80px;
    span{
        color: $maincolor;
        font-weight: bold;
    }
    h3{
        margin: 20px 0 40px;
    }
    hr{
        width: 53px;
        color: $maincolor;
        border: 1px solid $maincolor;
        margin: -29px 0 40px;
    }
    .show{
        position: relative;
        z-index: 5;
        padding: 0;
        transition: all 2s ease-in-out;
        &:hover .overlay,
        &:hover a{
            display: block;
        }
    }
    .overlay {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(46, 140, 203, .7);
        z-index:9999;
        display: none;
    } 
    .projectContent{
        position: relative;
        img{
            width: 100%;
            height: 400px;
        }
        a{
            position: absolute;
            top:50%;
            right:20%;
            bottom: 50%;
            left: 20%;
            z-index: 99999;
            color:#fff;
            text-decoration: none;
            display: none;
            cursor:pointer;
        }
    }

}

// Contact Page

.contact{
    color: #fff;
    background-color: #1f2233;
    padding: 40px 0 80px;
    span{
        color: $maincolor;
        font-weight: bold;
    }
    h3{
        margin: 20px 0 40px;
    }
    hr{
        width: 53px;
        color: $maincolor;
        border: 1px solid $maincolor;
        margin: -29px 0 40px;
    }
    .social{
        i{
            color: $maincolor;
            margin-bottom: 20px;
            padding: 30px;
            border-radius: 50%;
            background-color:#30375f;
        }
        span,a{
            color: #fff;
            margin-bottom: 20px;
            display: block;
            text-decoration: none;
        }
        a:hover{
            color: $maincolor;
            transition: all .5s ease-in-out;
        }

    }
}

// Footer Page

.footer{
    background-color: #222;
    padding: 12px 0;
    text-align: center;
    p{
        color: rgba(255, 255, 255, 0.4);
        margin: 0;
        font-size: 14px;
    }
}